@use '../../../assets/scss/mixins/typography' as *;

@mixin card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 310px;
  height: 506px;
  border: 1px solid var(--border-primary);
  border-radius: 40px;
  overflow: hidden;


  &__img {
    max-height: 310px;
    border-radius: 40px;
    object-fit: cover;
  }

  &__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--text-primary);

    &-title, &-price {
      @include heading-3;
    }
  }
}